<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.korsn.mojkuvar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fridge"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DisplayActivity"
            android:label="Pregled recepta">

            <intent-filter >
                <action android:name="com.example.korsn.mojkuvar.DisplayActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>



        </activity>
        
        <activity android:name=".SignUp"
            android:label="Registracija"

            >
            <intent-filter >
                <action android:name="com.example.korsn.mojkuvar.SignUp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>


        <activity android:name=".LogIn"
            android:label="Prijava"

            >

            <intent-filter >
                <action android:name="com.example.korsn.mojkuvar.LogIn" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            </activity>

        <activity android:name=".ProfileActivity"
            android:label="Profil"

            >

            <intent-filter >
                <action android:name="com.example.korsn.mojkuvar.ProfileAcivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".DisplayActivityOnline"
            android:label="Recepti"

            >

            <intent-filter >
                <action android:name="com.example.korsn.mojkuvar.DisplayActivityOnline" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>